
<!-- Menu -->
<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Isochrones</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="'side'" disableClose>
      <mat-nav-list class="container">
        
        <!-- Map -->
        <p>Mon formulaire</p>
		<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
			<mat-button-toggle-group name="FromOrTo" [(ngModel)]="model.fromOrTo" #fromOrTo="ngModel" appearance="legacy">
				<mat-button-toggle value="From">From</mat-button-toggle>
				<mat-button-toggle value="To">To</mat-button-toggle>
			</mat-button-toggle-group>
			<br>

			<mat-form-field>
				<input matInput placeholder="{{fromOrTo.value}}" name="fromOrToValue" [(ngModel)]="model.fromOrToValue" #fromOrToValue="ngModel" required />
			</mat-form-field>
			<br>	

			<span>Durations in minutes :</span>
			<button type="button" (click)="addDuration()" mat-icon-button class="duration-button" color="primary" [disabled]="model.durations.length >= maxDurationsNumber">
				<mat-icon>add_box</mat-icon>
			</button>
			<button type="button" (click)="removeDuration()" mat-icon-button class="duration-button" color="primary" [disabled]="model.durations.length <= 1">
				<mat-icon>indeterminate_check_box</mat-icon>
			</button>
			<br>
			
			<span *ngFor="let x of durationCounter(); index as i; last as last">
				<mat-form-field class="duration-field" >
					<input class="duration-input" matInput type="number" name="durations{{i}}" [(ngModel)]="model.durations[i]" #durations[i]="ngModel" required />
				</mat-form-field>
				<span *ngIf="!last">, </span>
				<br *ngIf="i===4">
			</span>
			<br>

			<mat-form-field fxFlex floatPlaceholder="never">
                  <input matInput placeholder="Begin Date"
				    name="dateTime"
					[(ngModel)]="model.beginDate" #beginDate="ngModel"
					[min]="minBeginDate"
                    [owlDateTimeTrigger]="dt" [owlDateTime]="dt" required>
                  <owl-date-time #dt></owl-date-time>
			</mat-form-field>
			<br>
			
			
			<mat-form-field class="mat-number-field">
				<input matInput placeholder="Iterations" type="number" name="iterations" [(ngModel)]="model.iterations" #iterations="ngModel" required />
			</mat-form-field>
			<span *ngIf="iterations.value > 1">
				<span> every </span>
				<mat-form-field class="mat-number-field">
					<input matInput placeholder="Delay" type="number" name="delay" [(ngModel)]="model.delay" #delay="ngModel" required />
				</mat-form-field>
				<span> minutes</span>
			</span>
			<br>
			
			<button type="submit" mat-raised-button color="primary" [disabled]="f.form.invalid || isWorking">Submit</button>
		</form>
	  </mat-nav-list>
	  <div class="overlay" *ngIf="isWorking"><mat-spinner class="spinner"></mat-spinner></div>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- Map -->
      <div id="map"></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
